.container {
  height: 100vh;
  background-color: #eee;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding-right: 8px;
}

.headerContent {
  display: flex;
  padding-left: 8px;
  justify-content: space-between;
  flex: 1;
}

.handle {
  font-weight: bold;
  height: 100%;
  display: block;
  background-color: #eee;
  font-size: 90% !important;
  cursor: pointer;
}

.title {
  border: none;
  font-size: 90%;
  color: #666;
  width: 380px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.device {
  width: 100px;
  font-size: 80%;
  margin-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  background-color: #eee;
}

.editor {
  flex: 1;
  height: 100vh;
  max-width: 870px;
  box-shadow: 1px 0px 3px #666;
}

.simulator {
  position: absolute;
  border: 1px solid #ddd;
}

.button {
  background-color: #2980b9;
  color: white;
  width: 80px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #3498db;
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
}

.appetizeHeader {
  padding: 3px 6px;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  margin-bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global(.CodeMirror) {
  height: auto !important;
}
